

 .home-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home-hero {
  background: linear-gradient(135deg, #4caf50, #81c784);
  color: white;
  padding: 4rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}
 
.home-hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home-cta {
  margin: 10px;
  padding: 10px 20px;
  background: white;
  color: #4caf50;
  border: 2px ;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.home-features {
  margin-top: 20px;
}

.campaign-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.campaign-card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.campaign-card:hover {
  transform: translateY(-5px);
}

.campaign-image-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.campaign-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campaign-content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.campaign-title {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.campaign-description {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #555;
}

.donation-stats {
  font-size: 0.9rem;
  margin-bottom: 10px;
  margin-right: 115px;
}

.progress-section {
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  background-color: #eee;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
}

.progress-percentage {
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: right;
}

.donate-button {
  padding: 8px 52px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

.view-campaign-button:hover {
  background-color: #4caf50;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 15px 5px;
  padding: 8px 12px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  text-align: center;
}
